<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tech in Art</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('Home')}}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   <div class="collapse navbar-collapse active" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{url_for('Dashboard_Visualizations')}}">Dashboard Visualizations</a>
      </li>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('D3_Chord')}}">D3/Chord Visualization</a>
    </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{url_for('Map')}}">Map</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('Chinese_Art')}}">Chinese Art</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{{url_for('Machine_Learning')}}">Machine Learning</a>
    </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('About_Us')}}">About Us</a>
      </li>
    </ul>
  </div>
</nav>
  

<div class = Tableau Visuals >
  <br>
    <h2 style="text-align:center">The Met Chinese Arts Stats</h2>
    <br>
    <p align="center"><iframe width="1100" height="700" src="https://public.tableau.com/views/Project3_16141399712320/Dashboard1?:
      language=en&:display_count=y&publish=yes&:origin=viz_share_link:embed=yes&:showVizHome=no " ></iframe></p>
    <br>
</div>
<br>

<div class= "container">
  <div class="row justify-content-md-center">
    <div class="col">
    
    <h4 style="text-align:center"> Chinese Arts Analysis </h4>
    <br>
    <p>The Chinese emperors of all dynasties collected many cultural relics. The royal collection of the Qing Dynasty(1636–1912) has reached an unprecedented scale. 
      These collections are stored in the emperor's palaces and royal gardens. The most famous one is Yuanmingyuan, aka Summer Palace.  In 1860, the British and French 
      allied forces robbed and burned the Old Summer Palace. <br>

      <p>For my analysis, this data has a limitation. It provided the culture, accession year, and credit line, but it didn't state where the items originated. 
      But as you can see from the accession year, all the spikes pretty much aligns with the historical events.</p>

      <p>I then take a deep dive into the credit line and found interesting facts about Heber Bishop, who donated all his collections to MET in 1902.</p>

      <p>Bishop is a businessman. He began to collect artworks (particularly jade) from all over the world in the 1870s, first began to buy some exquisite Chinese Jades 
      in New York and Boston. Later, he learned that these jades came from the European continent and were plundered from the Chinese palace and royal garden by the British 
      and French allied forces during the Second Opium War in 1860. Following this clue, Bishop went to England and the European continent several times; he went to London, 
      Frankfurt, Amsterdam, Dresden, Berlin, Vienna, St. Petersburg, and Moscow, where he obtained many of the most exquisite jade collections.  
      He also wrote the book Investigations and study in jade. Before his death in 1902, he donated more than 1000 pieces of jade to the MET, which is the first and most 
      important collection of jade in the American Museum.</p><br>
  </div>

<br>
<div class="col">
  <a><img src="./../static/Images/chinese_art.png" width="1100" height="660"></a><br><br><br>

  
<!-- Footer -->
<footer class="footer font-small footer-dark">
  <div class="footer-copyright text-center py-1">© Copyright Coding Bootcamp 2021</div>      
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
