/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 150%;
}

header {
  background:white;
}

h1 {
  padding: 50px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 50px;
  color: #333;
  text-align: center;
}

h2 {
  font-size: px;
}

a {
  color: #0027FF;
}

/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 0 auto;
}

/* Selecting elements by ID */
#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#figure {
  position: relative;
}

#bio-name {
  position: relative;
  top: 150px;
  left: 30px;
}

#main-bio {
  width: 50%;
}

#contact-info {
  width: 40%;
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}