/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 150%;
}

header {
  background:d#e74c3c;
}

h1 {
  padding: 50px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 50px;
  color: #e74c3c;
  text-align: center;
}

h2 {
  font-size: px;
}

a {
  color: #e74c3c;
}

/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 90 auto;
}

/* Selecting elements by ID */
#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#figure {
  position: center;
  
}

#bio-name {
  position: center;
  top: 200px;
  left: 30px;
}

#main-bio {
  position: center;
  width: 100%;
}

#contact-info {
  position: center;
  width: 40%;
}

#bio-image {
  width: 300px;
  height: 300px;
  left: 200px;
  margin-right: 100px;
}